@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
    color: black;
}

.calculator {
    border: 1px solid #727272;
    box-shadow: 3px 3px 10px black;
    width: 380px;
    padding: 30px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8f8f8f;
}
.calculator-grid {
    width: 350px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.calculator-grid button {
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px #4a4a4a;
    cursor: pointer;
    border: none;
    outline: none;
}
#clearBtn {
    background-color: #a2d48a;
}
.calculator-grid #clearBtn:hover {
    background-color: #8bb677;
    transition: 0.3s;
}
.calculator-grid #clearBtn:active {
    background-color: #648555;
    transition: 0.3s;
}
#deleteBtn {
    background-color: #79b0d4;
}
.calculator-grid #deleteBtn:hover {
    background-color: #6896b5;
    transition: 0.3s;
}
.calculator-grid #deleteBtn:active {
    background-color: #527790;
}
#equalsBtn {
    background-color: #dccc7e;
}
.calculator-grid #equalsBtn:hover {
    background-color: #b9ac6b;
    transition: 0.3s;
}
.calculator-grid #equalsBtn:active {
    background-color: #8b8150;
}
.number:hover,
#pointBtn:hover {
    background-color: #d6d6d6;
    transition: 0.3s;
}
.number:active,
#pointBtn:active {
    background-color: #898989;
}
.operator {
    background-color: #98aaca;
}
.operator:hover {
    background-color: #8696b2;
    transition: 0.3s;
}
.operator:active {
    background-color: #687489;
}

.output {
    border: 1px solid #7a7a7a;
    border-radius: 15px;
    width: 310px;
    padding: 10px 20px;
    text-align: right;
    background-color: #eeeeee;
    word-wrap: break-word;
    word-break: break-all;
}
.screen-previous {
    font-size: 20px;
    min-height: 35px;
}
.screen-current {
    min-height: 64px;
    font-size: 40px;
}
.span-two {
    grid-column: span 2;
}
.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links {
    display: flex;
    gap: 10px;
}
.copyright {
    font-size: 20px;
}